@import "reset";
@import "variables";

body.lock {
  overflow: hidden;
}

.app {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;

  @extend %theme-light--primary;

  &.dark {
    @extend %theme-dark--primary
  }
}
