:root {
  font-size: 16px;

  --error: #fff;

  // -------------------------
  --dark-bg-primary: #2a323d;
  --dark-font-primary: #fff;

  // -------------------------
  --dark-bg-secondary: #20262e;
  --dark-font-secondary: #a6a8ab;

  // -------------------------
  --dark-bg-accent: #56bdff;
  --dark-font-accent: #151515;

  // -------------------------
  --light-bg-primary: #fefbe5;
  --light-font-primary: #000;

  // -------------------------
  --light-bg-secondary: #FCFCFD;
  --light-font-secondary: #36395A;

  // -------------------------
  --light-bg-accent: #1976d2;
  --light-font-accent: #fff;

  // -------------------------
  --radius-s: 6px;
  --radius-x: 12px;

  // -------------------------
  --margin-s: 10px 0;
  --margin-x: 20px 0;

  // -------------------------
  --font-mono: "JetBrains Mono", monospace;
}

@mixin light-primary {
  background-color: var(--light-bg-primary);
  color: var(--light-font-primary);
}

@mixin light-secondary {
  background-color: var(--light-bg-secondary);
  color: var(--light-font-secondary);
}

@mixin light-accent {
  background-color: var(--light-bg-accent);
  color: var(--light-font-accent);
}

@mixin dark-primary {
  background-color: var(--dark-bg-primary);
  color: var(--dark-font-primary);
}

@mixin dark-secondary {
  background-color: var(--dark-bg-secondary);
  color: var(--dark-font-secondary);
}

@mixin dark-accent {
  background-color: var(--dark-bg-accent);
  color: var(--dark-font-accent);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

@media (max-width: 1440px) {
  :root {
    font-size: 16px;
  }
}

@media (max-width: 1280px) {
  .container {
    padding: 0 20px;
  }
}

@media (max-width: 1024px) {
  :root {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  :root {
    font-size: 14px;
  }
}

@media (max-width: 425px) {
  :root {
    font-size: 13px;
  }
}

@media (max-width: 375px) {
  :root {
    font-size: 12px;
  }
}
