:root {
  font-size: 16px;

  --dark-bg-primary: #f0f0f0;
  --dark-font-primary: #f0f0f0;
  --dark-bg-accent: #1976d2;
  --dark-font-accent: #fff;
  --dark-bg-secondary: #fefbe5;
  --dark-font-secondary: #757575;

  --light-bg-primary: #fefbe5;
  --light-font-primary: #000;
  --light-bg-accent: #1976d2;
  --light-font-accent: #fff;
  --light-bg-secondary: #f0f0f0;
  --light-font-secondary: #757575;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

@media (max-width: 1440px) {
  :root {
    font-size: 16px;
  }
}

@media (max-width: 1280px) {
  .container {
    padding: 0 20px;
  }
}

@media (max-width: 1024px) {
  :root {
    font-size: 15px;
  }
}


@media (max-width: 768px) {
  :root {
    font-size: 14px;
  }
}


@media (max-width: 425px) {
  :root {
    font-size: 13px;
  }
}

@media (max-width: 375px) {
  :root {
    font-size: 12px;
  }
}
